POLYSTORES=file,github
POLYSTORE_GITHUB_USER=xxxxx
POLYSTORE_GITHUB_PASS=yyyyy
BASE_DOMAIN=lvh.me       # for development
BASE_DOMAIN=example.com  # for production, change to your actual domain
DOMAIN_CONNECTOR=via
COLLECTION_LABEL=Page
SITE_NAME=My Forking Site

