<!DOCTYPE html>
<html>
<head>
  <title>ForkThis</title>
  <%= stylesheet_link_tag    "fork_this/application", :media => "all" %>
  <%= javascript_include_tag "fork_this/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
